h1 {
    color: red;
    text-align: center;
    font-size: 1.5em;
}

h2 {
    color: lightblue;
    font-size: 1.3em;
    font-weight: normal;
}

p {
    text-align: justify;
    font-size: ;
}

img {
    width: 100%;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 30px 10px 20px 10px;
    row-gap: 30px;
    column-gap: 30px;
}

.grid-item {}

.img-description {
    padding: 15px;
}